<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;">
        <meta charset='utf-8'>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" type="text/css" media"screen" charset="utf-8">

        <title>Selective Hearing</title>

    </head>
    <body>
        <div id="container">
            <script src="{{ url_for('static', filename='scripts/bundle.js') }}" type="text/javascript" charset="utf-8"></script>
        </div>
    </body>
</html>
